<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>" class="<%= html_classes %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%= render partial: "common/special_font_face" %>
    <%= render partial: "common/discourse_stylesheet" %>
    <%= discourse_csrf_tags %>

    <%- if SiteSetting.enable_escaped_fragments? %>
      <meta name="fragment" content="!">
    <%- end %>

    <%- if shared_session_key %>
      <meta name="shared_session_key" content="<%= shared_session_key %>">
    <%- end %>

    <script>
      window.EmberENV = window.EmberENV || {};
      window.EmberENV['FORCE_JQUERY'] = true;
    </script>

    <%= script "locales/#{I18n.locale}" %>
    <%= script "ember_jquery" %>
    <%= script "preload-store" %>
    <%= script "vendor" %>
    <%= script "pretty-text-bundle" %>
    <%= script "application" %>

    <%- if staff? %>
      <%= script "admin" %>
    <%- end %>

    <%- unless customization_disabled? %>
      <%= raw SiteCustomization.custom_head_tag(session[:preview_style]) %>
    <%- end %>

    <%= render_google_universal_analytics_code %>
    <link rel="manifest" href="<%= Discourse.base_uri %>/manifest.json">

    <%= yield :head %>
  </head>

  <body class="<%= body_classes %>">
    <div class='debug-eyeline'></div>

    <noscript data-path="<%= request.env['PATH_INFO'] %>">
      <header class="d-header">
        <div class="wrap">
          
          <div class="contents clearfix">

            <div class="title">

              <a href="<%= path "/" %>">

                <h2 id="site-text-logo" class="text-logo">Mir.Guru</h2>
            
              </a>

              <div id="primary-top"><ul><li><a href="/">Вопросы и ответы</a></li><li><a href="/categories">Страны</a></li><li><a href="/tags">Рубрики</a></li></ul></div>

            </div>

          </div>

        </div>

      </header>

      <div id="main-outlet" class="wrap">
        <!-- preload-content: -->
        <%= yield %>
        <!-- :preload-content -->

        <footer id="footer">
    
          <div class="wrap">
            
            <nav id="site-nav" itemscope itemtype='http://schema.org/SiteNavigationElement'>
            
                <ul>
                    <li>
                        <a href="<%= path "/" %>">Вопросы и Ответы</a>
                    </li>
                    <li>
                        <%= link_to t('js.filters.categories.title'), path("/categories") %>
                    </li>
                    <li>
                        <a href="<%= path "/tags" %>">Рубрики</a>
                    </li>
                    <li>
                        <a href="<%= path "/about" %>">Информация</a>
                    </li>
                    <li>
                        <a href="<%= path "/faq" %>">Как пользоваться</a>
                    </li>
                    
                </ul>
            
            </nav>
        
            <div class="site-info">
                <p>Любая информация, размещённая на этом сайте, служит исключительно для ознакомления, использовать её или нет - Вы решаете самостоятельно, опираясь на свою разумность, тщательно перепроверяя любые данные. <strong>В путешествии Вы и только Вы отвечаете за себя и своих попутчиков!</strong></p>
                <p>Вы принимаете все возможные риски в результате применения информации, предоставленной на этом сайте, или в результате контакта с пользователями этого сайта, никто другой за это ответственности не несет. Полное или частичное <strong>некоммерческое</strong> использование материалов сайта <strong>MIR.GURU</strong> в сети Интернет допускается при условии указания <a href="http://mir.guru">активной ссылки</a> на каждый отдельно взятый материал и названия MIR.GURU, если для материала не указано иное. Пользуясь сайтом, вы подтверждаете, что прочитали, поняли и полностью согласны с <a href="http://mir.guru/tos">условиями предоставления услуг</a> и <a href="http://mir.guru/privacy">политикой конфиденциальности</a>.</p>
            </div>
            
            <h5>
            <strong>MIR.GURU</strong> © 2015-2017. Ответы на вопросы о путешествиях
            </h5>

            <p><%= t 'powered_by_html' %></p>
            
        </div>

      </footer>

    </div>

     

    </noscript>

    <%- unless customization_disabled? || loading_admin? %>
      <%= SiteCustomization.custom_header(session[:preview_style], mobile_view? ? :mobile : :desktop) %>
    <%- end %>

    <section id='main'>
    </section>

    <div id='offscreen-content'>
    </div>

    <% unless current_user %>
      <form id='hidden-login-form' method="post" action="<%=main_app.login_path%>" style="display: none;">
        <input name="username" type="text"     id="signin_username">
        <input name="password" type="password" id="signin_password">
        <input name="redirect" type="hidden">
        <input type="submit" id="signin-button" value="<%= t 'log_in' %>">
      </form>
    <% end %>

    <%- if @preloaded.present? %>
      <script>
      (function() {
        var ps = require('preload-store').default;
        <%- @preloaded.each do |key, json| %>
          ps.store("<%= key %>", <%= escape_unicode(json) %>);
        <% end %>
      })();
      </script>
    <%- end %>

    <%= yield :data %>

    <%= render :partial => "common/discourse_javascript" %>

    <%= render_google_analytics_code %>

    <%- unless customization_disabled? %>
      <%= raw SiteCustomization.custom_body_tag(session[:preview_style]) %>
    <%- end %>
  </body>
</html>
