html, .btn {
    font-size: 16px;
    line-height: 1.618;
    font-family: 'PT Sans', Helvetica Neue, Helvetica, Arial, sans;
    -webkit-font-smoothing: antialiased;
}
body input, body button, body select, body textarea {
    font-family: 'PT Sans', Helvetica Neue, Helvetica, Arial, sans;
    line-height: 1.125;
}

#search-term::-webkit-input-placeholder {color:rgba(255,255,255,0.6);}
#search-term::-moz-placeholder          {color:rgba(255,255,255,0.6);}/* Firefox 19+ */
#search-term:-moz-placeholder           {color:rgba(255,255,255,0.6);}/* Firefox 18- */
#search-term:-ms-input-placeholder      {color:rgba(255,255,255,0.6);}

body, .d-header, .tagline, .header-search, #header-search-term, .header-search #header-search-term.searching-background {
     background-color: #00BCD4;
}
.d-header .contents, .search-menu input[type='text'], .search-menu input[type='text']:focus, .search-menu input[type='text']:hover {
    background-color: #0099AC;
}
.header-search .header-search-context .btn:hover, .unread-private-messages:hover, .header-search .header-search-context .btn:focus {
     background-color: #403f3f;
}
.extra-info-wrapper .topic-statuses i, .d-header .title .text-logo, .d-header .icons .icon, .header-search .header-search-context .btn:hover, .header-search .header-search-context .btn:focus, .extra-info-wrapper .topic-link, #primary-top ul li a, .nav-pills>li.active>a:hover, .header-search #header-search-term, .btn#create-topic, .search-menu input[type='text'], .search-menu input[type='text']:focus, .search-menu input[type='text']:hover {
    color: #ffffff;
}
.btn#create-topic, .header-search .header-search-context .btn, .unread-private-messages {
    background-color: #FFF388;
}
.btn#create-topic {
    background-color: #FA914A;
}
.d-header .title a, .d-header .title a:visited {
    color: #fff;
}
.topic-list a.title.visited:not(.badge-notification), .topic-list .sortable:hover {
    color: #767474;
}
.nav-pills>li>a:hover, .unread-private-messages, .topic-list.categories a.title {
    color: #403f3f;
}
.header-search a.show-help {
    color: #fff;
    color: rgba(255,255,255,0.8);
}
.header-search input::-webkit-input-placeholder {
    color:    #fff;
    color:    rgba(255,255,255,0.8);
}
.header-search input:-moz-placeholder {
    color:    #fff;
    color:    rgba(255,255,255,0.8);
}
.header-search input::-moz-placeholder {
    color:    #fff;
    color:    rgba(255,255,255,0.8);
}
.header-search input:-ms-input-placeholder {
    color:    #fff;
    color:    rgba(255,255,255,0.8);
}
#main-outlet {
    background-color: #fff;
}
.header-search a.show-help, .nav-pills>li>a {
    background-color: rgba(0,0,0,0.1);
}
.d-header .icons .icon:hover, .list-controls .category-breadcrumb li.bullet>.badge-category, .topic-list .sortable:hover {
    background-color: transparent !important;
}
header .extra-info-wrapper .discourse-tag, .extra-info-wrapper .discourse-tag:hover, .extra-info-wrapper .discourse-tag:visited, .extra-info-wrapper .topic-statuses .unpinned, .extra-info-wrapper .badge-wrapper.bullet span.badge-category, .extra-info-wrapper .discourse-tag.simple, .extra-info-wrapper .discourse-tag.simple:visited, .extra-info-wrapper .discourse-tag.simple:hover, .d-header .icons .icon:hover, .drop-down-visible .d-header .icons .active .icon, #site-nav ul li a, #footer, #footer a, .site-info a, #footer h5, .site-info strong, .d-header {
    color: #fff !important;
}
.site-info {
    color: rgba(255,255,255,0.86);
}
hr {
    border-color: #ddd;
}

.search-menu .search-context label, .search-menu .search-context .show-help, .list-controls .category-dropdown-menu .badge-wrapper.bullet {
    font-size: 14px;
}

body {

  h1.page-not-found {
    line-height: 1.125;
    font-size: 22px;
  }
  .popular-topics-title, .recent-topics-title {
      font-size: 18px;
      margin: 0;
  }
  .page-not-found-topics .span8 {
      margin: 0;
  }
}
#simple-container {
    border-radius: 0;
    width: 100%;
    max-width: 1130px;
    padding: 0 20px 35px 20px;
}
h2 {
    font-size: 22px;
}
.container {
    padding: 0 22px;
}
.d-header {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;

    #site-text-logo {
      font-size: 26px;
      text-transform: uppercase;
      padding: 18px 18px 0 0;
      line-height: 1;
      display: block;
      float: left;
    }
    .panel {
      height: 60px;
      width: 172px;
    }
}

.about.admins {
  display: none;
}
.after-title {
    float: left;
    display: block;
}

.topic-body {

  p {
    font-size: 18px;
    line-height: 1.618;
    margin: 0 0 22px 0;
  }
  .contents summary {
    font-size: 18px;
    line-height: 1.618;
    margin: 0 0 20px 0;
    color: #0097a7;
  }
  img.thumbnail {
    width: 100%;
    margin-bottom: 29px;
  }
}

.lightbox-wrapper img {
    width: 100%;
    margin-bottom: 29px;
}
.maps-onebox {
    margin: 0 0 10px 0;
}
.alert {
    margin: 0;
}

hr {
    margin: 16px auto 32px auto;
    width: 61.8%;
}
ul, ol, dd {
    margin: 0 0 18px 42px;
}

.cooked ul li, nav.post-controls button {
    font-size: 18px;
}
.nav-stacked>li>a {
    font-size: 16px;
}
.lazyYT {
    margin-top: 29px;
    height: 0 !important;
    width: 100% !important;
    padding-bottom: 56.25% !important;
}


#main {
  margin-top: 26px;
}


  #main-outlet {
    padding: 92px 0 0 0;
  }

  .d-header {
    
    height: 86px;

    .contents {
      margin: 0;
      padding: 0 22px;
    }
    .fa-home {
      float: left;
      font-size: 29px;
      line-height: 1.125;
      padding: 14px 18px 0 0;
    }
    .title {
      text-align: center;
      display: block;
      float: none;
    }
    .icons {
      padding: 0;
      left: 40px;
      top: 14px;
      position: absolute;
      width: auto;
      margin: 0;
    
      [class^="fa fa-"] {
          font-size: 26px;
      }

      .unread-private-messages {
          top: -10px;
          right: -10px;
      }
    }
  }


.drop-down-visible .d-header .icons .active .icon .badge-notification {
    top: -10px;
    right: -10px;
}
.drop-down-visible .d-header .icons .active .icon:after {
    border: 0;
}

.d-header .icons .icon, .d-header .icons .icon:focus, .d-header .icons .icon:hover {
    padding: 0;
    border: 0;
}
.d-header .icons .icon#toggle-hamburger-menu, .d-header .icons .icon#search-button {
    margin: 0 18px 0 0;
}
.drop-down-visible .d-header .icons .active .icon {
    background: transparent;
    border: 0;
    padding: 0;
    position: static;
}
.d-header .login-button, .d-header .sign-up-button {
    float: none;
    margin: 0;
    padding: 13px 6px;
    position: absolute;
    top: 14px;
    font-size: 13px;
    right: -6px;
    background: transparent;
    z-index: 2;
}
.d-header .login-button .fa, .d-header .sign-up-button .fa {
    margin: 0;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 32px;
    color: rgba(0,0,0,0.1);
    z-index: -1;
}

.tagline {
    padding: 0 0 26px 0;
    margin: 0;
}
h5.tagline {
    text-align: center;
    font-weight: 400;
    font-style: italic;
}
.wrap {
    max-width: 1170px;
    padding: 0;
}
.container {
    padding: 0 22px 0 22px;
}
.menu-panel {
    padding: 22px;
    box-shadow: none;

    span.badge-category {
      max-width: 180px;
    }

    li.category-link {
        width: 31%;
    }
}
.topic-list .topic-excerpt {
    font-size: 16px;
}
.badge-wrapper.bullet {
    font-size: 13px;
}
.menu-panel.drop-down {
    right: 0;
    width: 100%;
    min-width: 487px;

    li.category-link {
      margin: 0;
      width: 49%;
 
      a[href*="c/europe/"], a[href*="c/asia/"], a[href*="c/oceania/"], a[href*="c/africa/"], a[href*="c/america/"], a[href*="/c/staff"] { 
        display: none;
      }

    }
}
.menu-panel ul.menu-links li a, .menu-panel ul li.heading a {
    padding: 4px 0;
}
.topic-list-bottom {
    margin: 22px 0 0 0;
}
#suggested-topics {
    padding: 18px 0 26px 0;
}
.topic-list-bottom h3, #suggested-topics h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    margin: 0;
}
.search-link {
  .topic {
    font-size: 18px;
  }
  .blurb {
    font-size: 14px;
  }
}

.search-menu  {
  .menu-panel {
    padding: 0;
  }
  .menu-panel.drop-down {
    top: 0!important;
    right: 102px;
    border: 0;
  }
  .no-results {
    padding: 6px 22px;
    text-align: left;
  } 
  input[type='text'], input[type='text']:focus, input[type='text']:hover {
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 30px 22px;
    border: 0;
    font-size: 18px;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    opacity: 0.9;
    }
    .search-context {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%;
    padding: 6px;

      .show-help {
      line-height: 1;
      color: #fff;
      }
      label {
      position: absolute;
      color: #fff;
      line-height: 1;
      background-color: #1799AB;
      text-transform: uppercase;
      top: -34px;
      right: 0;
      bottom: auto;
      padding: 2px 6px;
      font-size: 9px;
      }

    }
    li:not(.category):not(.heading) a {
    padding: 6px 22px;
    }
    .no-results {
    color: #a09e9e;
    }
}

.search.row {

  input.input-xxlarge.search {
    margin: 0 0 22px 22px;
    padding: 19px 22px;
    height: 26px;
    border: 1px solid #ececec;
    font-size: 18px;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    position: relative;
    top: -10px;
  }

  .btn {
    padding: 19px 22px;
    font-size: 18px;
    position: relative;
    top: -10px;
  }
}

.btn:focus {
    outline: none;
}
.badge-notification {
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 100%;
}
.nav-pills>li>a, .list-controls .category-breadcrumb a.badge-category {
    font-size: 14px;
    padding: 8px 10px 6px 10px;
    line-height: 1;
    transition: background .15s;
    text-transform: uppercase;
}
.btn#create-topic {
    padding: 10px 26px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    top: -10px;
    margin: 0;
    text-transform: uppercase;
    border-radius: 4px;
}
.list-controls {

    .ember-view a[href="/categories"] {
        display: none;
    }

    .nav {
      margin: 0;
    }

    .btn {
      padding: 10px;
      font-size: 16px;
      position: relative;
      top: -10px;
      margin-left: 10px;
    }

    .btn.edit-category {
      clear: both;
    }

    .category-dropdown-menu {

      .badge-category.home {
        margin: 0;
      }

      .badge-wrapper.bullet {
        padding: 0;
        font-size: 13px;
        margin-right: 16px;

          .badge-category {
            max-width: 176px;
          }
      }
    }

}

.title-wrapper .badge-wrapper.bullet {
    line-height: 1.618;
    margin-right: 16px;
}
.discourse-tag {
    margin: 0 16px 0 0; 
    line-height: 1.618;
    text-transform: uppercase;
}
.bullet+.list-tags {
    line-height: 1.618;
}
.list-tags {
    font-size: 13px;
}
.badge-wrapper, .topic-list-item .discourse-tags {
    font-size: 13px;
    line-height: 1;
}
.btn .fa {
    margin-right: 10px;
}
.btn#create-topic .fa {
    position: relative;
    top: 1px;
}
#list-area {
    margin: 0 0 76px 0;

  .list-controls .container {
    padding: 0;
  }

}

ol.category-breadcrumb {
    margin-left: -12px;
}

.list-controls {
  .category-breadcrumb a.badge-category {
    text-transform: none;
    font-size: 16px;
    padding: 6px 10px 6px 10px;
  }
  .category-breadcrumb a.badge-category.category-dropdown-button {
    padding: 0;
    top: 1px;
    position: relative;
  }
  .category-dropdown-menu {
    min-width: 320px;
    max-width: 585px;
    padding: 22px;

    .cat {
      display: inline-block;
      width: 31%;
    }
  }
} 


.topic-list {

  .title {
    font-size: 22px;
    font-weight: 700;
  }
  th, td {
    padding: 13px 7px;
  }
  th {
    padding: 9px 7px 7px 7px;
  }
  th:first-of-type, td:first-of-type {
    padding-left: 0;
  }
  .main-link .topic-post-badges, .main-link  {
    font-size: 16px;
  }
  .main-link a.title {
    padding: 0;
    font-size: 21px;
  }

}

.topic-list.topic-list-latest .title {
    font-size: 18px;
}
.topic-list.categories {
  .featured-topic {
      margin: 16px 0;
  }
  td.category {
    border: 0;
    padding: 22px 22px 22px 0;
  }
}

#primary-top {
  margin: 0;
  ul {
    margin: 0;

    li {
        float: left;
        display: block;
        padding: 19px 18px 0 18px;
        text-transform: uppercase;
        font-weight: 700;
    }

  }
}
.topic-statuses {
    position: relative;
    top: 4px;
}
#topic-title {
    padding-top: 0;

    .topic-statuses {
      margin-top: -6px;
    }
}


.extra-info {
  h1 {
    font-size: 21px;
    padding: 10px 0 0 0;
    line-height: 1.125;
  }
  .topic-statuses {
      margin-top: 0;
      top: 0;
  }
  
}

.extra-info-wrapper {
  .list-tags {
      padding-top: 0;
  }
  .badge-wrapper.bullet {
    margin-top: 0;
    text-transform: uppercase;

    .badge-category-parent-bg, .badge-category-bg, span.badge-category-parent-bg+.badge-category-bg {
    display: none;

    }

  }
  
}


.btn.filter {
  background-color: #0088cc;
  color: #fff;
}

@keyframes leftRightBackground {
  0% { background-position: 0 0; }
  100% { background-position: 463px 0; }
}

#footer  {

    padding: 26px 0;


      h5 {
          clear: both;
          display: block;
          font-size: 16px;
          margin: 0;
          font-weight: 400;
          text-transform: uppercase;

            strong {
                font-weight: 700;
            }
      }

}

#site-nav {
    overflow: hidden;
    padding: 0;

      ul {
        clear: both;
        margin: 0;
        padding: 0;

         li {
            list-style: none;
            display: block;
            float: left;
            text-transform: uppercase;
            margin-right: 16px;
            font-size: 16px;
          }

        }

}

.site-info {
    
    margin-top: 16px;

      p {
        margin-bottom: 16px;
        line-height: 1.416;
        font-size: 13px;
        text-align: justify;
      }

      a {
          text-decoration: underline;
      }
}

.span8 {
    width: 50%;
    margin: 0;
}

section.about {
    margin: 0 0 32px 0;
    
     table {
        font-size: 16px;
    }
    h3 {
        margin: 0 0 20px 0;
    }
}
.body-page {
    padding: 0;
    width: 800px;
    margin: 0 auto;
    
    blockquote, h1, h2, h3, hr, p, pre, ul, ol, table {
        font-size: 18px;
    }
}
.user-info .user-detail {
    font-size: 14px;
}
div.ac-wrap {
  input[type="text"] {
    margin: 0;
  }
}
.search-advanced {
  .search-advanced-options {
    border: 0;
    padding: 0;
  }
}
div.poll {
    border: 0;
    background: #F8F8F8;
}
body {
  .control-group {
    margin: 16px 0 5px 0;
  }
  input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    box-shadow: none !important;
  }
}